In [6]:
import pandas as pd

customers = pd.DataFrame({
    'id' : [1, 2, 3, 4],
    'name' : ['Joe', 'Henry', 'Sam', 'Max']
})
orders = pd.DataFrame({
    'id' : [1, 2],
    'customerId' : [3, 1]
})

In [13]:
# Get the customers who havent orders yet
no_orders = customers[~(customers['id'].isin(orders['customerId']))]

In [27]:
df_no_orders = pd.DataFrame(no_orders.iloc[:, 1])

In [33]:
df_no_orders.columns = ['Inactive Customers']

In [37]:
df_no_orders.sort_values(by='Inactive Customers', ascending=False)

  Inactive Customers
3                Max
1              Henry